src/gz reboot_core http://downloads.lede-project.org/releases/17.01.4/targets/mvebu/generic/packages
#src/gz reboot_core http://downloads.lede-project.org/releases/17.01.4/targets/arm_cortex-a9_vfpv3/generic/packages
src/gz reboot_base http://downloads.lede-project.org/releases/17.01.4/packages/arm_cortex-a9_vfpv3/base
src/gz reboot_luci http://downloads.lede-project.org/releases/17.01.4/packages/arm_cortex-a9_vfpv3/luci
src/gz reboot_packages http://downloads.lede-project.org/releases/17.01.4/packages/arm_cortex-a9_vfpv3/packages
src/gz reboot_routing http://downloads.lede-project.org/releases/17.01.4/packages/arm_cortex-a9_vfpv3/routing
src/gz reboot_telephony http://downloads.lede-project.org/releases/17.01.4/packages/arm_cortex-a9_vfpv3/telephony
