src all      http://iotdk.intel.com/repos/2.0/iotdk/all
src x86      http://iotdk.intel.com/repos/2.0/iotdk/x86
src i586     http://iotdk.intel.com/repos/2.0/iotdk/i586
src core2-32 http://iotdk.intel.com/repos/2.0/iotdk/core2-32
